.app {
    display: flex;
  }
  
  .data-center-content{
    flex: 1;
    background-color: #ced1da;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .data-center-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1000px;
  }
  
  .data-column {
    background-color: #798dc5;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
  }
  
  .real-time-clock {
    font-size: 20px;
    line-height: 1.6;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  