@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Other global styles */
  

.nav-section {
    background-color: #111;
}  
.nav-section.btn-hover {
    background-color: #444;
}


.my-info {
    background-color: #2B2E63;
}  
.my-info.my-info-hover {
    background-color: #2E3266;
}

.home {
    background-color: #2B2E63;
}  
.home.home-hover {
    background-color: #2E3266;
}

.add-employee {
    background-color: #2B2E63;
}  
.add-employee.add-employee-hover {
    background-color: #2E3266;
}

.login {
    background-color: #2B2E63;
}  
.login.login-hover {
    background-color: #2E3266;
}

